nav a {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color:azure;
    float:left;
}
nav{
    background-color: black;
    overflow:hidden;
}
nav a:hover{
    color:tomato
}
/* nav a:visited{
    color:royalblue
} */
h1{
    text-align: center;
}
.vedios{
    padding-bottom: 20px;
}