h1{
    text-align: center;
    color:red;
    /* text-shadow: 4px 8px 2px black; */
    
}
p{
    text-decoration:underline;
    text-align: center;
    color:green;
    text-decoration-color: black;
}
table,tr,th,td{
  border:2px solid black;
 border-collapse:collapse;
 text-align: center; 
 padding:10px;
 }
 th{
    background-color: goldenrod;
 }
td{
    background-color: chartreuse;
 }